
{% extends "base.html" %}
<title>{% block head_title %}Menu Items | {{block.super}}{% endblock head_title %}</title>
{% block content %}
<h3>{{ object.name }}</h3>
<h4>Location : {{ object.restaurant.name }}</h4>
<ul>
    Contents
    <ul>
        {% for item in object.get_contents %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% if object.excludes %}
    Excludes
    <ul>
        {% for item in object.get_excludes %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</ul>
{% endblock %}
